<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body>
    <link type="text/css" rel="stylesheet" href="pages.css.scss" />
  <div class="header">
    <div class="container">
  
    <ul class="nav">
        <li>About</li>
      <li>contact</li>
      <li>Details</li></ul>
      
  </div>
  </div>
  <div class="main">
    <p>create and share stories</p>
    <form action="#" method="get">
      <button type="submit" value="submit"><centre>Learn more</centre></button>
    </form>
    </div>
      <div class="footer">
        <a href="http://www.Github.com">Github</a>
        <a href="http://www.Twitter.com">Twitter</a>
      </div>
    </body>
</html>